Repository v3xlabs/edgeserver, pull requests merged in 2022-08, with the labels that each got.

#79 Add delete endpoint for apps
  src/routes/api/apps/[app]/delete.ts
  src/routes/api/apps/[app]/index.ts
Labels: enhancement

#84 Update EdgeRC types
  src/services/hrr.ts
  src/types/ConfigFile.type.ts
Labels: enhancement

#85 Explain format for edgerc config file
  README.md
Labels: documentation

#106 Rename root and add code workspace
  edgeserver.code-workspace
  package.json
Labels: enhancement

#117 Introduce CLI Header
  .changeset/tame-camels-roll.md
  .github/labeler.yml
  .github/workflows/label.yml
  packages/cli/src/index.ts
Labels: edgelabs/cli

#122 Introduce @edgelabs/config
  .changeset/chilly-dots-approve.md
  .changeset/rotten-socks-joke.md
  .gitignore
  apps/landing/package.json
  packages/config/.eslintrc.json
  packages/config/.gitignore
  packages/config/.prettierrc
  packages/config/LICENSE
  packages/config/README.md
  packages/config/package.json
  packages/config/src/index.ts
  packages/config/tsconfig.json
  pnpm-lock.yaml
Labels: wontfix, @edgelabs/config
