Repository v3xlabs/edgeserver, pull requests merged in 2022-11, with the labels that each got.

#169 Deployment back button
  .changeset/small-turkeys-sleep.md
  .gitignore
  apps/app/src/pages/app/[app]/deploy/deployment.tsx
  apps/app/src/pages/app/[app]/deployments.tsx
Labels: wontfix, edgelabs/app

#170 feat: add tsup to types package
  packages/types/package.json
  packages/types/tsup.config.ts
Labels: edgelabs/types

#167 Migrate to using components from the component library and minor UI fixes
  .changeset/tasty-years-attack.md
  .vscode/settings.json
  apps/app/index.d.ts
  apps/app/src/App.tsx
  apps/app/src/components/AddDomainModal/AddDomainModal.tsx
  apps/app/src/components/AddDomainModal/DNSAddModalSection.tsx
  apps/app/src/components/AddDomainModal/DNSRecordTester.tsx
  apps/app/src/components/Button.tsx
  apps/app/src/components/Checkbox.tsx
  apps/app/src/components/CreateAppModal/CreateAppModal.tsx
  apps/app/src/components/CreateDeleteAppModal/CreateDeleteAppModal.tsx
  apps/app/src/components/CreateKeyModal/CreateKeyModal.tsx
  apps/app/src/components/KeyModal/KeyModal.tsx
  apps/app/src/components/Modal.tsx
  apps/app/src/components/ReRender.tsx
  apps/app/src/components/UsersModal/UsersModal.tsx
  apps/app/src/globals.scss
  apps/app/src/pages/admin/page.tsx
  apps/app/src/pages/app/[app]/_container.tsx
  apps/app/src/pages/app/[app]/create/create.tsx
  apps/app/src/pages/app/[app]/create/stages/confirm.tsx
  apps/app/src/pages/app/[app]/create/stages/domain.tsx
  apps/app/src/pages/app/[app]/create/stages/name.tsx
  apps/app/src/pages/app/[app]/deploy/deployment.tsx
  apps/app/src/pages/app/[app]/deployments.tsx
  apps/app/src/pages/app/[app]/page.tsx
  apps/app/src/pages/app/[app]/settings.tsx
  apps/app/src/pages/domains/[domain]/_container.tsx
  apps/app/src/pages/domains/page.tsx
  apps/app/src/pages/domains/verified_domain_list.tsx
  apps/app/src/pages/keys/page.tsx
  apps/app/src/pages/login/Setup.tsx
  apps/app/src/pages/page.tsx
  apps/app/src/pages/settings/page.tsx
  apps/app/src/parcel.d.ts
  apps/app/tsconfig.json
  packages/components/package.json
  packages/components/src/components/Common/Button.tsx
  packages/components/src/components/Common/Checkbox.tsx
  packages/components/src/components/Common/Container.tsx
  packages/components/src/components/Common/TextField.tsx
  packages/components/src/components/templates.ts
  packages/components/src/utils/registerOrEmpty.ts
  pnpm-lock.yaml
Labels: edgelabs/app

#174 Implement path based routing for app
  .changeset/chilled-kiwis-fly.md
  apps/app/src/App.tsx
  apps/app/src/components/Tabs/Tabs.tsx
  apps/app/src/pages/app/[app]/Layout.tsx
  apps/app/src/pages/app/[app]/debug.tsx
  apps/app/src/pages/app/[app]/information.tsx
  apps/app/src/pages/app/[app]/page.tsx
  apps/app/src/pages/app/[app]/settings.tsx
  apps/app/src/pages/app/[app]/setup.tsx
Labels: edgelabs/app

#173 Add wallet signing requirement for deleting apps
  .changeset/big-grapes-retire.md
  apps/app/src/components/CreateDeleteAppModal/CreateDeleteAppModal.tsx
  apps/groot/src/routes/api/apps/[app]/delete.ts
Labels: edgelabs/app, edgelabs/groot
